PORT="3001" # If changed then make sure its correctly setup inside the docker files
SOCKET_PORT="3002" # If changed then make sure its correctly setup inside the docker files

# MySql Settings
ENABLE_MYSQL="false"
MYSQL_HOST="mysql host"
MYSQL_USER="mysql user"
MYSQL_PASSWORD="mysql password"
MYSQL_DATABASE="mysql database"

# MongoDb Settings
ENABLE_MONGODB="false"
MONGODB_HOST="mongodb url"
MONGODB_DATABASE="mongodb database"